.Rproj.user
.Rhistory
.RData
.Ruserdata
H20.Rproj
.gitignore

*.log

*.2016-11-13

log4j.spark.log.2016-12-29

log4j.spark.log.2017-05-04

log4j.spark.log.2017-06-28

*.lck

*.dat

*.txt

*.ctrl

metastore_db/service.properties
